[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
sqlalchemy = "*"
fastapi-users = {extras = ["sqlalchemy"], version = "*"}
pydantic-settings = "*"
asyncpg = "*"
fastapi-admin = "*"
fastapi-mail = "*"

[dev-packages]

[requires]
python_version = "3.12"
